# WordPress
wordpress/wp-config.php
wordpress/.htaccess

# Composer
vendor/
composer.lock

# Node
node_modules/
package-lock.json

# Build files
*.log
*.cache

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
